
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="hotels">Hotels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="voyages">Voyages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
     
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="logged()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        <button *ngIf="!logged()" class="btn btn-outline-success my-2 my-sm-0" routerLink="login" type="submit">Login</button>
      </form>
    </div>
  </nav>
  