<p>login works!</p>
<label>Login</label>
<input type="text" [(ngModel)]="user.username" name="username">
<label>Password</label>
<input type="password" [(ngModel)]="user.password" name="password">

<button (click)="get()">Login</button>
<button (click)="logout()">Logout</button>