<p>hotels works!</p>
{{hat.ville}}
<input type="button" (click)="boutton()" value="Valider">
<ejs-daterangepicker laceholder='Select a range' [(startDate)]='start' [(endDate)]='end'></ejs-daterangepicker>
<ul>
    <li *ngFor="let hotel of hotels2">{{hotel.nom}}<button routerLink="../hoteldetail/{{hotel.id}}">Reservez</button></li>
</ul>
<ul>
    <li *ngFor="let ville of villes">{{ville.nom}}</li>
</ul>

<ul>
    <li *ngFor="let circuit of circuits">{{circuit.titre}}</li>
</ul>


